.cart {
  display: flex;
  flex-wrap: wrap;
  color: rgb(66, 53, 208);
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(66, 53, 208);
}
.cart-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 130px;
  padding: 10px;
}
.cart-image {
  height: 90%;
}
.cart-item-title,
.cart-item-price,
.cart-item-quantity {
  padding: 10px;
}
