.add-movies-container {
  display: flex;
  margin-top: 20px;
  color: rgb(120, 109, 246);
}
.form-container {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  box-shadow: 1px 1px 1px rgb(120, 109, 246);
  margin: auto;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}
label {
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(120, 109, 246);
  outline: none;
  border-radius: 5px;
  color: rgb(120, 109, 246);
}
.title,
.opening-text,
.released-date {
  padding-top: 22px;
}

.add-movie-button {
  margin-top: 15px;
  text-align: center;
}

.add-movie-button button {
  width: 40%;
  border-radius: 10px;
  padding: 5px;
}
